<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    <div class="main-content">

    </div>
    {{>footer}}
</body>
</html>
